:root{
    --bg-description: rgba(0,0,0,.5);
    --shadow-color: rgba(0, 0, 0,.5);
    --primary-color: rgb(250, 250, 250);
    --secondary-color: rgb(230,230,230);
    --bt-description: rgb(0, 130, 130);
    --bt-description-hover: rgb(0, 160, 160);
    --bg-user-skils: rgba(0, 0, 0,.5);
    --border-off: rgba(0,0,0,0);
    --border-on: rgba(230,230,230,1);

}
section{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

/*primeira seção da home*/
.section-description{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-description{
    background-color: var(--bg-description);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px var(--shadow-color);
}
.div-description h4{
    color: var(--secondary-color);
    font-size: 48pt;
    width: 450px;
    text-align: center;
}
.bt-description-border{
    padding: 2px;
    border: solid 1px var(--secondary-color);
    margin-top: 25px;
}
.div-description a{
    text-decoration: none;
    color: var(--secondary-color) ;
    background-color: var(--bt-description);
    width: 150px;
    height: 35px;
    font-size: 14pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
}
.div-description a:hover{
    background-color: var(--bt-description-hover);
    color: var(--primary-color);
}

/*segunda sessão da home*/
.section-gallery > div{
    padding: 5px;
}
.gallery{
    display: flex;
    box-shadow: 0 0 15px var(--shadow-color);
    background-color: var(--bg-description);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.gallery-item{
    width: 350px;
    margin-top: 5px;
    border: solid 1px var(--secondary-color);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.gallery-item:hover img{
    -webkit-transform: scale(1.04);
}
.gallery-item img {
    width: 100%;
    padding: 5px;
}

/*formatação do terceiro session referente ao resumo do usuario*/
    .user-resume{
    background-color: var(--bg-description);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.skils{
    margin: 50px auto 50px auto;
    border: 1px solid var(--primary-color);
    background-color: var(--bg-user-skils);
    min-height: 150px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skils span{
    font-size: 14pt;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-bottom: solid 1px var(--border-off);
}
.skils span:hover{
    border-bottom: solid 1px var(--border-on);
}
.user-avatar img{
    width: 150px;
    border-radius: 100%;
    border: solid 1px var(--primary-color);
    margin: 5px;
}