<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head') %>
<body>
  <%- include('partials/header')  %>
  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <div class="parallax-item container">
          <h1>Developer web full stack</h1>
        </div>
      </section>
      
      <section class="module content">
        <div class="container">
          <h2>Meus projetos</h2>
          <div class="gallery">

            <div class="gallery-item">
              <img src="/images/projects/ecommerce_home.png" alt="livraria-pagina-inicial" width="400px" height="200px">
            </div>
            
            <div class="gallery-item">
              <img src="/images/projects/ecommerce_product.png" alt="livraria-layout-interno-produto" width="400px" height="200px">
            </div>

            <div class="gallery-item">
              <img src="/images/projects/ecommerce_home.png" alt="livraria-pagina-inicial" width="400px" height="200px">
            </div>
            
            <div class="gallery-item">
              <img src="/images/projects/ecommerce_product.png" alt="livraria-layout-interno-produto" width="400px" height="200px">
            </div>

            <div class="gallery-item">
              <img src="/images/projects/ecommerce_home.png" alt="livraria-pagina-inicial" width="400px" height="200px">
            </div>
            
            <div class="gallery-item">
              <img src="/images/projects/ecommerce_product.png" alt="livraria-layout-interno-produto" width="400px" height="200px">
            </div>

          </div>
        </div>
      </section>

      <section class="module parallax parallax-2">
        <div class="parallax-item container">
          <h2>Habilidades e metodologias ágeis</h2>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <div class="resume">
            <div class="skills">
              <span>Java Script</span>
              <span>Node js</span>
              <span>MySQL</span>
              <span>HTML 5</span>
              <span>CSS 3</span>
              <span>BootsTrap</span>
              <span>API / API-REST</span>
              <span>MVC</span>
              <span>CRUD</span>
              <span>Scrum</span>
            </div>

          </div>
        </div>
      </section>

    </main>
  </div>
  <%- include('partials/footer') %>
</body>
</html>