<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head') %>
<body>
  <%- include('partials/header')  %>
  <div class="container">
    <h2 class="text-center">portifolio</h2>
  </div>
<%- include('partials/footer') %>
</body>
</html>