<header>
  <nav class="dp-menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Profile</a></li>
      <li>
        <a href="#" class="dp-btn">Social media</a>
        <ul class="dp-nav">
          <li><a href="#">Linked'n</a></li>
          <li><a href="#">Git Hub</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>